ame/
ArmCord/
autostart/
Code/
create-next-app-nodejs/
dconf/
Electron/
eog/
evolution/
gedit/
gnome-control-center/
gnome-session/
goa-1.0/
google-chrome/
gsconnect/
gtk-3.0/
gtk-4.0/
ibus/
mimeapps.list/
nautilus/
neofetch/
nextjs-nodejs/
obsidian/
pulse/
QtProject.conf/
ranger/
user-dirs.dirs/
user-dirs.locale/
vlc/
yay/

#Ignore all wallpapers except provided
wallpapers/*
!wallpapers/Reze_purp_upscayl_4x_realesrgan-x4plus.png

#Spotify sessions and etc unneeded stuff
spotify/
spicetify/Backup/
spicetify/CustomApps/
spicetify/Extensions/
spicetify/Extracted/

#Some confs to ignore
.gsd-keyboard.settings-ported 
QtProject.conf 
mimeapps.list 
user-dirs.dirs
user-dirs.locale
