ame/
ArmCord/
autostart/
Code/
create-next-app-nodejs/
dconf/
Electron/
eog/
evolution/
gedit/
gnome-control-center/
gnome-session/
goa-1.0/
google-chrome/
gsconnect/
gtk-3.0/
gtk-4.0/
ibus/
mimeapps.list/
nautilus/
neofetch/
nextjs-nodejs/
obsidian/
pulse/
QtProject.conf/
ranger/
user-dirs.dirs/
user-dirs.locale/
vlc/
yay/
spotify/

.gsd-keyboard.settings-ported 

QtProject.conf 

mimeapps.list 
user-dirs.dirs
user-dirs.locale
