window {
background-color: #191825;
border: 2px solid purple;
opacity: 0.8;
}

#input {
border: none;
background-color: #191825;
color: #FFA3FD;
}

#entry {
padding-left: 5px;
}

#entry:selected {
background-color: #865DFF;
}

#text {
color: #FFA3FD;
}

#text:selected {
color: #191825;
}

#img {

}
